<div class="container" style="margin-top: 60px;">
    <div class="row">
        <div class="col-md-3 feature-box text-center">
            <img src="/assets/images/h.jpg" style="height: 50px;width: 60px;">
            <div class="feature-text">
                <p><b>100% Original items</b> are available at company.</p>
            </div>
        </div>
        <div class="col-md-3 feature-box text-center">
            <img src="/assets/images/i.jpg" style="height: 50px;width: 60px;">
            <div class="feature-text">
                <p><b>Return within 30 day</b> of receiving your orders</p>
            </div>
        </div>
        <div class="col-md-3 feature-box text-center">
            <img src="/assets/images/j.jpg" style="height: 50px;width: 60px;">
            <div class="feature-text">
                <p><b>Get free delivery for every</b> on more than price.</p>
            </div>
        </div>
        <div class="col-md-3 feature-box text-center">
            <img src="/assets/images/k.jpg" style="height: 50px;width: 60px;">
            <div class="feature-text">
                <p><b>Cash on delivery</b> option is available</p>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid bg-primary text-light mt-5">
    <div class="row justify-content-evenly text-center footer pt-3" >
        <div class="col-md-3"> 
            <h6>Useful Links</h6>
            <p>Privacy Policy</p>
            <p>Terms of use</p>
            <p>Return Policy</p>
            <p>Discount Coupons</p>
        </div>
        <div class="col-md-3"> 
            <h6>Company</h6>
            <p>About us</p>
            <p>Contact Us</p>
            <p>Career</p>
            <p>Affiliate</p>
        </div>
        <div class="col-md-3"> 
            <h6>Follow us On</h6>
            <p><i class="fa fa-facebook-official"></i>  Facebook</p>
            <p><i class="fa fa-youtube-play"></i>  Youtube</p>
            <p><i class="fa fa-linkedin"></i>  Linkedin</p>
            <p><i class="fa fa-twitter"></i>  Twitter</p>
        </div>
    </div>
    <hr>
    <p class="copyright text-center">This sight is developed by satcomsoftware Pvt Ltd.</p>
</div>
